h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: maroon;
  text-align: left;
}

h2 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: orangered;
  font-style: italic;
}

h3 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: orangered;
}

p {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

ul {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
  
ol {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img.small {
  width: 150px;
  border: 2px solid black;
}

.basecolor {
  color: teal;
}

p.smallprint {
  color: gray;
  font-size: small;
  font-family: 'Courier New', Courier, monospace;
}

.fave {
  color: red ;
}